{
  "extends": "@{{scope}}/config/tsconfig.react.json",
  "compilerOptions": {
    "strict": true,
    "paths": {
      "@{{scope}}/*": ["../../packages/*/src"]
    }
  },
  "include": ["**/*.ts", "**/*.tsx"],
  "exclude": ["node_modules"]
}
